*{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
}

main{
  display:grid;
  background-color:#000;
  padding:12px;
}
main h1{
  color:rgb(255,255,255);
  font-size:30px;
  text-align:center;
  text-transform:uppercase;
}
main p{
  color:yellow;
  font-size:18px;
}
button{
  padding:12px;
  font-size:14px;
  border-radius:25px;
  background-color:rgb(3,4,251);
  width:60%;
}
a{
  text-decoration:none;
  color:rgb(255,255,255);
}
a:hover{
  color:yellow;
}

@media screen, (min-width:350px) and (max-width:650px){
 main{
    padding:35px;
  }
  main h1{
    font-size:45px;
    font-weight: bold;
     }
  main p{
    font-size:55px;
    margin:25px;
  }
  button{
    font-size:35px;
  }
}
/*@media screen and (min-width:600px){
  main p{
    font-size:35px;
  }
}*/